<!DOCTYPE html>
<html>

<head></head>

<body>
    <h1>You have received a new message from site's contact form, from <%= "#{ @name }, #{ @email }" %></h1>
    <p><%= "#{@body}" %></p>
</body>

</html>